
<div class="container">
<h1>Log In</h1>

<h2></h2>
<form method="POST" action="/login">
  Email Address:</strong><input type = "text" name="email" id="email"><br>

  Password:</strong><input type="password" name="password" id="password"><br>
  <button>Log In</button >
</form>

<br><h6>Don't have an account? Sign up below</h6>
 <a href="/signup"><button>Sign Up</button ></a>
</div>