
<h1>Log In</h1>

<h2></h2>
<form method="POST" action="/login">
  Username:</strong><input type = "text" name="username" id="username"><br>
  Password:</strong><input type="text" name="password" id="password"><br>
  <input type="submit" value="Log In">
</form>

<br><h3>Don't have an account? Sign up below</h3>
 <a href="/signup"><button>Sign Up</button ></a>
