<h1><%= current_user.username%>'s Profile</h1>

  <p><label><strong> Username:</strong></label>&emsp;<%= current_user.username %></p>
  <p><label><strong> Email Address:</strong></label>&emsp;&emsp;<%= current_user.email %></p><br>
  
    <a href="/users/
    /edit"><button>Edit Profile</button></a>

    <form onsubmit="return confirm('Are you sure you want to delete your account?')" action="/users/<%= current_user.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button>Delete Accout</button>
</form>

