
<h1>Sign Up</h1>
<h2></h2>
<form method="POST" action="/signup">
  Username:</strong><input type = "text" name="username" required><br>
  Email:</strong><input type="text" name="email" required><br>
  Password:</strong><input type="password" name="password" minlength="6" required><br>
  <button>Sign Up</button>
</form>