<div class=logged-in-container>
    <div class="course" style="color:darkcyan;">

  <h1>Upcoming Assignments</h1><hr>


  <% display = []%>
  <%if @courses.empty? %>
        <p>Looks like you don't have any assignments. <a href="/courses/new">Add A Course</a> to begin</p>
  <%else %>
      <table class="table">
      <thead>
          <tr>
            <th scope="col" style="width: 450px">Assignment</th>
            <th scope="col">Course</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <%if !course.assignments.empty? %>  
                <%list_assignment = course.assignments.split("\r\n")%>         
                <%list_assignment.each do |assignment|%>
                    <tr>
                      <td><li><%=assignment%></li></td>
                      <td><a href="/courses/<%= course.id %>"><%=course.name%></a></td>
                    </tr>
              <%end%>             
          <%else %>
            <% display << "none"%>
          <%end%>
        <%end%>
      </tbody>
    </table>
    
    <%if !display.empty? && display.size == @courses.size%>
    <div class="course">
        <p>Looks like you dont have any assignments. Add assisgnments to your <a href="/courses">courses</a></p><br><br><br><br></p>
    </div>
    <%end%>  
  <%end%>


  </div>  
</div>