
<h1>Upcoming Assignments:</h1>
<div class="content">
<% display = []%>
<%if @courses.empty? %>
      <p>Looks like you don't have any assignments. <a href="/courses/new">Add A Course</a> to begin</p>
<%else %>
    <table class="table">
    <thead>
        <tr>
          <th scope="col">Assignment</th>
          <th scope="col">Course</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <%if !course.assignments.empty? %>  
              <%list_assignment = course.assignments.split("\r\n")%>         
              <%list_assignment.each do |a|%>
                  <tr>
                    <td><li><%=a%></li></td>
                    <td><a href="/courses/<%= course.id %>"><%=course.name%></a></td>
                  </tr>
            <%end%>             
        <%else %>
          <% display << "none"%>
        <%end%>
      <%end%>
    </tbody>
  </table>
  
  <%if !display.empty? && display.size == @courses.size%>
      <p>Looks like you dont have any assignments. Add assisgnments to your <a href="/courses">courses</a></p><br><br><br><br></p>
  <%end%>  
<%end%>


 </div>  
