<h1>Welcome, <%= @user.username %>!</h1>
<div class="content">
<h2 >Courses You are Enrolled in</h2>
<% if @courses.empty? %>
<p>You have not created any courses. <a href="/courses/new">Add A Course</a> to begin</p><br><br><br><br>
<% else %>
  <% @courses.each do |course| %>
    <h3>&emsp;<%= course.name %>&emsp;<a href="/courses/<%= course.id %>">View course</a></h3>
  <% end %>
  <br><br><br><br><br>
  &emsp;<a href="/courses/new"><button>Add A Course</button></a><br>
  <%end%>
 </div>  
