<h1>Welcome, <%= @user.username %></h1>

<h2>Courses You are Enrolled in</h2>

  <% @courses.each do |course| %>
    <h4>Course: <%= course.name %></h4>
    <p><a href="/courses/<%= course.id %>">View course</a></p>
  <% end %>
  <a href="/courses/new"><button>Add A Course</button></a><br>
  
   
