<h1>Create a new course below</h1>
<h2></h2>
<% if Helpers.is_logged_in?(session) %>
  <form action='/courses' method="post">
  <label>Course Name</label>
  <input type="text" name="name"><br>
  <label>Course Schedule</label>
  <input type="text" name="schedule"><br>
  <label>Assignments</label>
  <br><textarea name="assignments" rows="4" cols="50"></textarea><br>
  <label>Notes</label>
  <br><textarea name="notes"rows="4" cols="50"></textarea><br>
  <input type="submit" value="Save">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Create A Course </h1>
  <% end %>

