<div class="welcome">

<div class="title"><h1>Welcome to EduTasks!</h1>
    
    <div class="content">
      <p> A sinatra app to help you track all the courses you are enrolled in. Stay on top of assignments, due dates, course requirements and more!</p>

 </div>
   <div class="wrapper2">
   <h1>Register Now</h1>
        <form method="POST" action="/signup">
        Username:</strong><br><input type = "text" name="username" required><br>
        Email:</strong><br><input type="text" name="email" required><br>
        Password:</strong><br><input type="password" name="password" minlength="6" required><br><br>
        <button>Sign Up</button>
      </form>

      <br><h6>Already have an account? <a href="/login">Sign In</a><h6>
 </div>


</div>
</div>
