
<div class="container">

<div class="container">
      <h1>Welcome to EduTasks!</h1>
    </div>
  <header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHrX-uwWf2afPoLez99Wt11Lvf2kDXtZLyVA&usqp=CAU" class="img-responsive main-image"></header>
  <div class="col-md-20 col-md-offset-5">


    <div class="content">
      <br><p>Welcome to the EduTasks, a sinatra app to help you track all the courses you are enrolled in. Stay on top of assignments, due dates, course requirements and more!</p>
      <h2>What would you like to do?</h2>
      <a href="/login"><button>Log In</button></a>
      <a href="/signup"><button>Sign Up</button></a><br><br>

    </div>

</div>
